@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
  padding:50px;
  font-family :"Gentium Book Basic",serif;
  font-size : 18px;
  color:#777;
  font-weight:300;
}

.wrapper {
  width:960px;
  margin:0 auto;
}






