<div class='wrapper'>
		<section>
        <h1>Nguyen Viet Thinh</h1>
        <p>My personal page - where is my about me? I should really make a todo list. My mind is a mess</p>


        <p class="view"><a href="https://github.com/iwatobes">View My GitHub Profile</a></p>
		</section>
      <section>
        <h3>
		<a name="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages"><span class="octicon octicon-link"></span></a>Welcome to My Personal Page.</h3>
		<p>My take on software engineer life has always feel like an adventure. There are vast lands to explore and I enjoy the thrill of having survived/master a new land </p>
		<p>This is the journey of a inexperienced software engineer on design his personal blog</p>
		<p>font for blog entry: Gentium Book Basic - book like font </p>
		<p>font for normal post: Github default - this impress me alot at first </p>
		<p>This is my personal page- Design based on Single Web Page (SPA) ideal- Using a combination of js libraries. As I'm familiar with Backbone I feel I need to try out new framework such as angular.js and its companion suites such as angularUI. On first glance Angular seem more complicated and not matured as compare to Backbone.
		</p>
		<p> I plan on utilizing resources and guides available such as : <br/>
		<a href="http://ruoyusun.com/2013/05/25/things-i-wish-i-were-told-about-angular-js.html" > Blog</a> <br/>
		<a href="http://blog.artlogic.com/2013/05/02/ive-been-doing-it-wrong-part-1-of-3/" > Blog</a>
		<br/>
		<a href="https://github.com/tnajdek/angular-requirejs-seed" > Seed Project using Angular and Require</a>
		</p>
		<p>Plan for blogs : if is a blog entry, it will be represented as a collection of models with properties { date : title : tags : url : template type : content }<br/>. We can then use a single template to render. also can sort and display list of blog posts</p>
		</section>
<div>