body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
	margin: 0;
	font-size: 18px;
	line-height: 1.231;
}

.wrapper {
  font-size : 18px;
  font-family :"Gentium Book Basic",serif;
  width:960px;
  margin:0 auto;
}


.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}



header {
  color: #bbbbbb;
  background: #2d2d2d;
}
header .content {
  font-weight: normal;
  margin: 0 auto 1em;
  width: 900px;
}
header .content h1, header .content h2 {
  margin: 0;
}
header .content h1 {
  font-size: 4em;
}
header .content h2 {
  color: #e0249a;
  font-size: 2.5em;
}

nav {
  background: #f5f5f5;
  border-bottom: solid 1px #c2c2c2;
  border-top: solid 1px #c2c2c2;
  height: 3em;
}
nav ul {
  margin: 6px auto;
  width: 900px;
}
nav ul li a {
  background-color: #f5f5f5;
  border-color: #d2d2d2 #c2c2c2 #c2c2c2 #d2d2d2;
  color: #444444;
  display: inline;
  float: left;
  display: block;
  margin: 0.7em 0.5em 0.7em 0;
  border-width: 1px;
  border-style: solid;
  font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
  font-size: 100%;
  line-height: 130%;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  width: auto;
  overflow: visible;
  padding: 4px 10px 3px 7px;
  margin: 0 0.7em 0 0;
}
nav ul li a:hover {
  background-color: white;
  border-color: #dfdfdf #cfcfcf #cfcfcf #dfdfdf;
  color: #515151;
}
nav ul li a img {
  margin: 0 3px -3px 0 !important;
  padding: 0;
  border: none;
  width: 16px;
  height: 16px;
  float: none;
}
nav ul li a[type] {
  padding: 4px 10px 4px 7px;
  line-height: 17px;
}
*:first-child + html nav ul li a[type] {
  padding: 4px 10px 3px 7px;
}
nav ul li a:active {
  position: relative;
  top: 1px;
  background-color: #e8e8e8;
  border-color: #d2d2d2 #c2c2c2 #c2c2c2 #d2d2d2;
  color: #444444;
}
nav ul li a:visited {
  color: #444444;
}

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  
  padding: 0;
}